.root {
    -fx-base: #2E3233;
    -fx-background: #2E3233;
    -fx-focus-color: #474650;
    -fx-faint-focus-color: #474650;
    -fx-accent: #474650;
}

.table-view {
  -fx-table-cell-border-color: transparent;
}

.table-column {
  -fx-alignment: CENTER-LEFT;
}

.table-cell {
    -fx-font-size: 24px;
}

