#artefact java
*.class
*.jar
build/

#artefact gradle
*.bin
*.lock
gradlew
gradlew.bat

#artefact latex
*.aux
*.dvi
*.lof
*.log
*.lot
*.out
*.toc
*.pdf

#artefact vim
*.sw*
tags

#artefact divers
*.zip
*.tar*
*.iso
*.hg
/.gradle/
/bin/
/.nb-gradle/

#eclipse
.classpath
.settings
.project

#intellij
.idea

#netbeans
.nb-gradle
bin/

#Visual Paradigm
.vpp.bak*
.vux
