#artefact java
*.class
*.jar
build/
data/

#artefact gradle
*.bin
*.lock
gradlew
gradlew.bat

#artefact latex
*.aux
*.dvi
*.lof
*.log
*.lot
*.out
*.toc
*.pdf
*.synctex.gz

#artefact vim
*.sw*
tags
*.cs_files

#artefact divers
*.zip
*.tar*
*.iso
*.hg
/.gradle/
/bin/
/.nb-gradle/

#eclipse
.classpath
.settings
.project

#intellij
.idea

#netbeans
.nb-gradle
bin/

#Visual Paradigm
*.vpp.bak*
*.vux*
*.lck
